graphs {
  graph_id: 1057997826
  priority: 0

  engines {
    id: 424
    engine_name: "Mind_camera"
    side: HOST
    thread_num: 1
    so_name: "./libMind_camera.so"
    ai_config {

      items {
        name: "path"
        value: "_camera_data_sets_"
      }

      items {
        name: "dataType"
        value: "Camera"
      }

      items {
        name: "data_source"
        value: "Channel-2"
      }

      items {
        name: "fps"
        value: "5"
      }

      items {
        name: "image_format"
        value: "YUV420SP"
      }

      items {
        name: "image_size"
        value: "1280x720"
      }

      items {
        name: "meanOfG"
        value: ""
      }

      items {
        name: "meanOfR"
        value: ""
      }

      items {
        name: "batch"
        value: "1"
      }

      items {
        name: "useAll"
        value: "all"
      }

      items {
        name: "randomNumber"
        value: "1"
      }

      items {
        name: "target"
        value: "OI"
      }
    }
  }

  engines {
    id: 446
    engine_name: "face_detection"
    side: DEVICE
    thread_num: 1
    so_name: "./libface_detection.so"
    ai_config {

      items {
        name: "confidence"
        value: "0.9"
      }

      items {
        name: "model_path"
        value: "_face_detection_model_"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 468
    engine_name: "face_feature_mask"
    side: DEVICE
    thread_num: 1
    so_name: "./libface_feature_mask.so"
    ai_config {

      items {
        name: "model_path"
        value: "_face_feature_mask_model_"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "4"
      }
    }
  }

  engines {
    id: 874
    engine_name: "face_recognition"
    side: DEVICE
    thread_num: 1
    so_name: "./libface_recognition.so"
    ai_config {

      items {
        name: "model_path"
        value: "_face_recognition_model_"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "8"
      }
    }
  }

  engines {
    id: 966
    engine_name: "face_register"
    side: DEVICE
    thread_num: 1
    so_name: "./libface_register.so"
    ai_config {

      items {
        name: "presenter_server_ip"
        value: "192.168.4.34"
      }

      items {
        name: "presenter_server_port"
        value: "7008"
      }

      items {
        name: "app_name"
        value: "sample"
      }
    }
  }

  engines {
    id: 713
    engine_name: "face_post_process"
    side: DEVICE
    thread_num: 1
    so_name: "./libface_post_process.so"
    ai_config {

      items {
        name: "output_name"
        value: "prob"
      }

      items {
        name: "path"
        value: "_camera_data_sets_"
      }
    }
  }

  connects {
    src_engine_id: 874
    src_port_id: 0
    target_engine_id: 713
    target_port_id: 0
  }

  connects {
    src_engine_id: 468
    src_port_id: 0
    target_engine_id: 874
    target_port_id: 0
  }

  connects {
    src_engine_id: 446
    src_port_id: 0
    target_engine_id: 468
    target_port_id: 0
  }

  connects {
    src_engine_id: 966
    src_port_id: 0
    target_engine_id: 446
    target_port_id: 1
  }

  connects {
    src_engine_id: 424
    src_port_id: 0
    target_engine_id: 446
    target_port_id: 0
  }
}			
