graphs {
  graph_id: 1222
  priority: 1
  engines {
    id: 101
    engine_name: "SourceEngine"
    side: HOST
    thread_num: 1
    ai_config {
      items {
        name: "source_file"
        value: "./hiaiengine/test.jpg"
      }
    }
  }
  engines {
    id: 102
    engine_name: "DstEngine"
    side: HOST
    thread_num: 1
  }
  engines {
    id: 103
    engine_name: "JpegdEngine"
    so_name: "./hiaiengine/sample_device.so"
    side: DEVICE
    thread_num: 1
  }
  engines {
    id: 104
    engine_name: "VpcEngine"
    side: DEVICE
    thread_num: 1
  }
  engines {
    id: 105
    engine_name: "AIStubEngine"
    side: DEVICE
    thread_num: 1
    ai_config{
      items{
          name: "model_path"
          value: "./hiaiengine/resnet_50.davincimodel"
      }
    }
  }
  connects {
    src_engine_id: 101
    src_port_id: 0
    target_engine_id: 103
    target_port_id: 0
  }
  connects {
    src_engine_id: 103
    src_port_id: 0
    target_engine_id: 104
    target_port_id: 0
  }
  connects {
    src_engine_id: 104
    src_port_id: 0
    target_engine_id: 105
    target_port_id: 0
  }
  connects {
    src_engine_id: 105
    src_port_id: 0
    target_engine_id: 102
    target_port_id: 0
  }
}
